<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpSO6yscu9NWEyrjSqFFD8pBnNfFMjs0I</string>
	<key>GCM_SENDER_ID</key>
	<string>894408144984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotify</string>
	<key>PROJECT_ID</key>
	<string>spotify-minhtritt01</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-minhtritt01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894408144984:ios:0006c4ffe03077b045b22d</string>
</dict>
</plist>